<div id="footer">

  <!-- <div><em>Dan Molloy 2016</em></div> -->
  <a href="https://github.com/danmolloy/omnibuser">
  <%= image_tag "github.png", id: "github", class: "footer_pic" %>
  </a>
  <a href="https://twitter.com/RealDanMolloy">
  <%= image_tag "twitter.png", id: "twitter", class: "footer_pic" %>
  </a>

</div>
