<div id="header">
  <a id="header_logo" href="/">
    <%= image_tag "header_logo.png", id: "header_logo_pic" %>
    <div id="header_logo_text">OmniBuser</div>
  </a>
  <div id="tabs">
    <a href="/about"><div id="about_tab" class="tab">About</div></a>
    <a href="/contact"><div id="contact_tab", class="tab">Contact</div></a>
  </div>
</div>
