<div id="about-content" class="main_content">
  <div id="blurb">
    <p>
      Omnibuser is a simple tool for converting online fiction into ebooks. I made this in my spare time because I was sick of my Kindle gathering dust while I read web serials.
    </p>
    <p>
      Just enter a link to the story you want, and Omnibuser will grab it and deliver it to you in whatever format you want.
    </p>
  </div>
  <div id="supported-sites">
    <h2> Supported sites</h2>
    <p>
      Right now I'm just supporting the sites that I personally use, that don't already have an ebook download feature (AO3 already has one, for example). If there are any sites I've missed that you'd like to see, get in contact with me and I'll look into it.
    </p>
    <ul>
      <li>fanfiction.net</li>
      <li>fictionpress.com</li>
      <li>forums.spacebattles.com</li>
      <li>forums.sufficientvelocity.com</li>
      <li>forums.questionablequesting.com</li>
    </ul>
    <p> Currently the forums are only supported if the story thread uses threadmarks. </p>
  </div>

  <div id="impatient">
    <h2> Why is it taking so long to fetch the story? </h2>
    <p>
      In order to be considerate to the hosting sites, Omnibuser will only fetch a new chapter from a particular site once every couple of seconds. This means that if several users are trying to get stories from the same site at the same time, each request will take longer to fulfill.
    </p>
  </div>

  <div id="name-explanation">
    <h2> "Omnibuser"? What? </h2>
    <p>
      An omnibus is a bunch of short works by a particular author collected into a single book. This tool collects a bunch of serially-published chapters into a single ebook. It makes omnibuses. It's an omnibuser. Look, domain names are hard, okay?
    </p>
  </div>
</div>
