<div class="main_content">
  <p> Feel free to get in touch with me for suggestions, bug reports, or really anything at all.</p>

  <p> Email: contact@omnibuser.com </p>
  <p> <a href="https://twitter.com/RealDanMolloy">Twitter</a></p>
  <p> <a href="https://github.com/danmolloy/omnibuser">Github</a></p>
</div>
