// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#header{
  clear:both;
  width:100%;
  margin-bottom: 10%;
  height:10%;
}

.tab{
  background: white;
  color: red;
  display: inline-block;
  height: 50px;
  line-height: 3;
  margin: 0;
  text-align: center;
  width: 90px;
}

#header_logo_pic{
  float:left;
}

#header_logo_text{
  float:right;
}

#about_tab{
  // float:left;
}

#contact_tab{
  // float:right;
}


#header_logo{
  width:70%;
  float:left;
}
#tabs{
  width:30%;
  float:right;
}

#main_content{
  margin-left: 20%;
  margin-right: 20%;
}

body{
  margin-top: 0;
  padding-top: 0;
  background-color: #efefef;
}
h1{
  margin-top: 10%;
  text-align:center;
}
#omni{
  color:red;
}
#buser{
  color:#ffd11a;
}
#form{
  text-align: center;
}
#description{
  margin-top: 30px;
  margin-bottom: 40px;
}
#supported-sites{

}
#error-explanation{

}
#q{
  width: 60%;
  margin-bottom: 10px;
}
#ext{

}
label[for="ext"]{

}

// .button {
// 	background-color:#cc0000;
// 	-moz-border-radius:24px;
// 	-webkit-border-radius:24px;
// 	border-radius:24px;
// 	border:1px solid #241d13;
// 	display:inline-block;
// 	cursor:pointer;
// 	color:#ffffff;
// 	font-family:Arial;
// 	font-size:15px;
// 	font-weight:bold;
// 	padding:6px 23px;
// 	text-decoration:none;
// 	text-shadow:0px -1px 0px #7a2a1d;
// }
// .button:hover {
// 	background-color:#cc0000;
// }
// .button:active {
// 	position:relative;
// 	top:1px;
// }
