// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////// RESET

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed,
// figure, figcaption, footer, header, hgroup,
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure,
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

//////////////////////////////

$primary_color: #bbb; //body background
$secondary_color: #DEE3E5; // header background
$tertiary_color: #DEE3E5; //content box background
$highlight_color: #1B2024;

/////// LAYOUT

////////////// HEADER
#header{
  position: absolute;
  left: 0;
  top: 0;
  clear:both;
  width:100%;
  margin-bottom: 10%;
  background-color: $secondary_color;
  border-bottom: 1px solid black;
  float: left;
  z-index: 1;
}

.tab{
  border-radius: 10px 10px 0px 0px;
  color: $highlight_color;
  display: inline-block;
  height: 50px;
  line-height: 2.5;
  font-size: 1.3em;
  margin: 0;
  text-align: center;
  width: 90px;
}
.tab:hover{
  color: white;
  background: $highlight_color;
}

#tabs{
  float:right;
  margin-top: 10px;
  margin-right: 10%;
}

#header_logo{
  float:left;
  width: 35%;
  padding-bottom: 5px;
  padding-top:5px;
}

#header_logo_pic{
  float:left;
  height: 50px;
}

#header_logo_text{
  float:left;
  font-size:3em;
  text-align: center;
  line-height: 1;
  margin-left:5%;

}

////////////// FOOTER
.footer_pic{
  display: inline;
  height: 30px;
  margin-left: 1em;
  margin-top: 0.5em;
}

#footer div{
  display: inline;
}

#footer{
  text-align: center;
  padding: 0em 0em 0.5em 0em;
  width: 100%;
  height: 35px;
  background-color: $secondary_color;
  border-top: 1px solid black;
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer a{
  text-decoration: none;
}
//////////////


html{
  position: relative;
  min-height: 100%;
}

#wrapper{
 z-index: -1;
 height: 100%;
 background-color: $primary_color;
 opacity: 0.6;
 position:absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 width:100%;
}

body{
  margin: 0 0 35px 0;
   padding-top: 0;
  background: image-url("books.jpg") no-repeat fixed 100%;
  background-size: cover;
  width: 100%;
}

#omni{
  color:$highlight_color;
}
#buser{
  color:$highlight_color;
}

///////
.clear {
    border: none;
    clear: both;
}

//////PROGRESSBAR

#progressbar{
  margin-top:15px;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.ui-progressbar-overlay{
  opacity: 0.2 !important;
}
.ui-widget-header{
  background-color: #ddd !important;
}

.ui-progressbar {
  position: relative;
}
.progress-label {
  position: absolute;
  left: 45%;
  top: 7px;
  font-weight: bold;
  z-index:10;
  color: #000;

}

//////////////

#error-explanation, #noscript-warning{
  color:#555;
	border-radius:10px;
  width: 80%;
	// font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
//  font-size:
	padding:10px 36px;
  margin-top: 10px;
	margin-left:auto;
  margin-right:auto;
  background:#ffecec url('../../images/error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}
#error-explanation span{
  font-weight:bold;
	text-transform:uppercase;
}

#error-explanation p{
  display: inline;
}

#noscript-warning{
  margin-top: 120px;
  margin-bottom: -100px;
}

option{
  outline:none;
}

#about-content{
  text-align: left;
}
.main_content{
  text-align: center;
  margin-top:150px;
  margin-bottom: 150px;
  padding: 3em;
  //padding-top: 3em;
  margin-left: 15%;
  margin-right: 15%;
  background-color: $tertiary_color;
}

#form{
  margin-top:2em;
  text-align: center;
}
#description{
  margin-top: 2em;
  margin-bottom: 2em;
}
#supported-sites{

}
#error-explanation{

}
#q{
  width: 60%;
  height: 2em;
  padding-left: 1em;
  border-radius: 30px;
  border: none;
  margin-bottom: 0.5em;
}

input:focus, input:active {
  outline: none;
}
#ext{

}
label[for="ext"]{

}

.button {
	background-color:$highlight_color;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
  border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1em;
	font-weight:bold;
	padding:0.5em 0.8em;
	text-decoration:none;
}
.button:hover {
	background-color:$highlight_color;
}
.button:active {
	position:relative;
	top:1px;
}

.dropdown {
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select {

  /* styling */
  background-color: $highlight_color;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#download{
  margin-top:15px;
}

#downloadLink{
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  text-decoration: underline;
  font-size: 1.2em;
}

.dropdown:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  color: white;
  outline: 0;
  text-decoration: none;
}
.dropdown:active{
  color:white;
}

.dropdown:-moz-focusring {
  //hide outline on firefox
  color: transparent;
  text-shadow: 0 0 0 #fff;
}


h1, h2 {
  font-size: 1.5em;
  font-weight: bold;
}



li {
  font-size: 1.1em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.1em;
  text-align: left;
  line-height: 1.1;
}

ul{
  word-wrap: break-word;

}

// Mobile adjustments
@media screen and (max-width: 600px), handheld and (orientation: portrait) {
  .main_content {
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
  }
  #error-explanation{
    padding: 5% 5% 5% 10%;
  }
  #header{
    text-align: center;
  }
  #header_logo_text{
    margin:0;
    float:none;
    display: inline;
    text-decoration: none;
  }
  #header_logo{
    width:263px;
    text-decoration: none;
    float:none;
    display: inline-block;

  }
  #tabs{
    text-align:center;
    float:none;
    display: block;
    margin: 0;

  }
}

@media (max-width: 380px) {
  ul{
    padding-left: 5px;
  }
}
